name: OpenSSF Scorecard

on:
  branch_protection_rule:
  schedule:
    - cron: "30 2 * * 6"
  push:
    branches: [main]

permissions: {}

jobs:
  scorecard:
    runs-on: ubuntu-24.04
    permissions:
      security-events: write
      id-token: write
      contents: read
      actions: read
    steps:
      - name: Run OpenSSF Scorecard
        uses: ossf/scorecard-action@v2.4.3
        with:
          results_file: results.sarif
          results_format: sarif
          publish_results: true

      - name: Upload Scorecard SARIF
        if: always() && hashFiles('results.sarif') != ''
        uses: github/codeql-action/upload-sarif@v4.32.4
        with:
          sarif_file: results.sarif
